@page
@model IndexModel
@{
  Layout = "Shared/_Layout.cshtml";
  ViewData["Title"] = "Übersicht";
}

@* Default page *@
<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-12">
      <h6 class="mdc-typography--headline6">
        Hallo Besucher, bitte melden Sie sich an
      </h6>
    </div>
    <a class="mdc-button mdc-button--raised" asp-page="/LoginIndex">
      <div class="mdc-button__ripple"></div>
      <span class="mdc-button__label">Login</span>
    </a>
  </div>
</div>